body {
    margin: 0;
    background-image: url("IMG/home_photo.png");
    background-size: cover;
}
#main
{
    
    height: 100%;
	margin: 0;
}
.feedback_box
{
    margin: auto;
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 2px solid gray;
    display: grid;
    grid-template-columns: 200px 180px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 60px 50px 50px 50px 50px;
    padding: 30px;
    margin-bottom: 50px;
    position: relative;
    top: 50px;
    font-family: sans-serif;
    font-weight: bold;
    
}

#name_input, #adress_input, #mail_input, #phone_input, #title_input, #feedback_input
{
    grid-column: 2 / span 2;
}

#feedback_in
{
    height: 60px;
}

#name_noti, #adress_noti, #mail_noti, #phone_noti, #title_noti, #feedback_noti, #code_noti
{
    grid-column: 2 / span 2;
    color: red;
    font-family: 1rem 'Fira Sans', sans-serif;
}

#output
{
    grid-column: 1 /span 3;
    color: rgb(14, 146, 14);
}

#button {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
}
