p.center{
    text-align: center;
    color: aliceblue;
    background-color: brown;
    height: 45px;
}
p.groove{
    border-width: 2px;
    border-style: groove;
    border-color: blue;
}
div.nen1{
    height: 450px;
    width: 200px;
    vertical-align: middle;
    color: blue;
    background-image: url(https://th.bing.com/th/id/OIP.XdOcbH7tp7c7r2LqbvuuuAHaE8?pid=ImgDet&rs=1);
    background-size: contain;
    
}