table {

    border-collapse: collapse;
}

.table-td {
    margin-left: 30px;
    margin-right: 30px;

}

.table-td-1 {

    /*background-color: #098892;*/
    background-color: #098892;
}

.table-td-1>img {
    display: block;
    margin-bottom: 10px;
}

.table-2-td {
    margin-left: 30px;

}